<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SiriClientConsole3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SiriClientConsole3.Properties.Settings>
            <setting name="SiriClientConsole3_WebReference_SiriServices"
                serializeAs="String">
                <value>http://81.218.41.96:8081/SiriServerApp/SiriServices</value>
            </setting>
        </SiriClientConsole3.Properties.Settings>
    </applicationSettings>  
  <connectionStrings>
    <add name="StorageConnectionString"
         connectionString="DefaultEndpointsProtocol=https;AccountName=hatahanahabaa;AccountKey=6QTer41kJ13RJXrz/ohDIE1gMf33J58OIHgYDpDdKwMr4JMK2MhUZ5KntYMxo5axh8yySMJ+gj2eMDvUs9EkAg==" />
  </connectionStrings>
</configuration>