<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SiriBackend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SiriService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SiriBackend.Properties.Settings>
            <setting name="SiriService_WebReference_SiriServices" serializeAs="String">
                <value>http://81.218.41.99:8081/Siri/SiriServices</value>
            </setting>
        </SiriBackend.Properties.Settings>
        <SiriService.Properties.Settings>
            <setting name="SiriService_WebReference_SiriServices" serializeAs="String">
                <value>http://81.218.41.99:8081/Siri/SiriServices</value>
            </setting>
        </SiriService.Properties.Settings>
    </applicationSettings>
</configuration>