<!DOCTYPE html>
<html>
<head>
    <title>תחנות</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false&libraries=places&language=he"></script>
    <script src="lib/js/jquery-2.1.3.min.js"></script>
    <script src="lib/js/angular.min.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>
    <script data-main="js/mapMain.js" src="lib/js/require.js"></script>
    
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="lib/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/tahanot.css">
    <link rel="stylesheet" href="css/map.css">    
    <link rel="stylesheet" href="css/fixed-grid.css">    
    </script>
</head>
<body data-offset="50">
    <nav id="navbar-main" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="row">
          <ul class="nav pagination pagination-lg col-fixed-150" role="tablist" style="margin: 0">
            <li role="presentation" class="active"><a href="#map-section"><i class="fa fa-globe"></i></a></li>
            <li role="presentation"><a href="#nearby-stops-section"><i class="fa fa-clock-o"></i></a></li>          
            <li role="presentation"><a href="#hello-section"><i class="fa fa-question"></i></a></li>          
          </ul>
          <div class="col-xs-12 col-offset-150" role="search">
            <input id="address" type="text" class="form-control input-lg" placeholder="&#xF002; כתובת"/>
          </div>
        </div>
      </div>
    </nav>

    <div id="map-section" class="page-section">
        <div id="map-container" class="navigation-section container-fluid">
            <div id="map-canvas"></div>          
        </div>
    </div>

    
    <div id="nearby-stops-section" class="page-section" ng-controller="nearbyStopsController" style="display: none">
        <h2 id="nearby-stops-title">תחנות בסביבה 
          <button type="button" class="btn btn-default" ng-show="canRefreshVisits()" ng-click="refreshVisits()">
            <i class="icon-refresh"></i>
          </button>
        </h2>
        <div class="panel panel-default" style="margin-left: 5px; margin-right: 5px;" ng-repeat="stop in stops track by $index" ng-class="{'selected-stop': stop.isSelected}">
          <table class="table">
            <tr class="active">
              <td class="col-xs-3 nearby-stop-title">
                <button class="btn btn-default btn-sm" type="button" ng-click="showOnMap(stop)">
                  <i class="fa fa-map-marker"></i>&nbsp;<strong>{{ stop.stopCode }}</strong></td>
                </button>
              <td class="nearby-stop-title" ng-class="isForWidget ? 'col-xs-5' : 'col-xs-9'" style="text-align: center"><h4>{{ stop.name }}</h4></td>
              <td class="col-xs-4 nearby-stop-title" ng-show="isForWidget"><button class="btn btn-primary" type="button" ng-click="selectForWidget(stop)">הצג בווידג'ט</button></td>
            </tr>
          </table>
          
          <table class="table">
            <tr ng-hide="stop.visitsAvailable">
              <td><i class="fa fa-spinner fa-pulse"></i> מחכה לזמני אמת</td>
            </tr>
            <tr ng-show="stop.visitsAvailable && !stop.visits.length">
              <td>אין זמני אמת לחצי השעה הקרובה</td>
            </tr>
            <tr ng-repeat="visit in stop.visits">
              <th scope="row">קו {{ visit.lineNumber }}</th>
              <td>
                <i class="fa fa-clock-o"></i>
                <span ng-show="visit.isAlreadyHere">קרוב לתחנה</span>
                <span ng-hide="visit.isAlreadyHere">
                    <ng-pluralize count="visit.minutesToArrival" when="{'1': 'דקה', 'other': '{} דקות'}"></ng-pluralize>
                </span>
              </td>
            </tr>
          </table>
        </div>
    </div>


    <div id="hello-section" class="page-section" role="tabpanel">
      <h2 id="nearby-stops-title">ברוכים הבאים!</h2>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                    data-toggle="tab">איך שומרים תחנה?</a></li>
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                     data-toggle="tab">מידע ויצירת קשר</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home">
          <h4>כדי לשמור תחנה על מסך הבית של המכשיר, יש להוסיף למסך הבית את וידג'ט &quot;תחנות&quot;.</h4>

          <p>
              <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#instructions"
                 aria-expanded="false" aria-controls="instructions">איך עושים את זה?</button>
          </p>
          <div class="collapse" id="instructions">
              <div class="panel panel-default hello-panel">
                  <h3>הוראות</h3>
      
                  <div class="list-group">
                      <a href="#" class="list-group-item">
                          <h4 class="list-group-item-heading">1. לחץ על לחצן הבית.</h4>
                          <p class="list-group-item-text">כדי להוסיף וידג'ט, יש להתחיל במסך הבית.</p>
                      </a>
                      <a href="#" class="list-group-item">
                          <h4 class="list-group-item-heading">2. צור וידג'ט חדש.</h4>
                          <p class="list-group-item-text">תפריט -&gt; הוסף -&gt; וידג'ט</p>
                      </a>
                      <a href="#" class="list-group-item">
                          <h4 class="list-group-item-heading">3. בחר בוידג'ט &quot;תחנות&quot;.</h4>
                          <p class="list-group-item-text">בדרך כלל הוא מופיע אחרון ברשימה, כי הוא מתחיל באות ת'.</p>
                      </a>
                      <a href="#" class="list-group-item">
                          <h4 class="list-group-item-heading">4. בחר תחנה.</h4>
                          <p class="list-group-item-text">לאחר הוספת הווידג'ט יופיע מסך ובו ניתן לבחור תחנה. לאחר הבחירה, זמני האוטובוסים בתחנה יופיעו קבוע במסך הבית.</p>
                      </a>
                      <a href="#" class="list-group-item">
                          <h4 class="list-group-item-heading">5. ניתן ליצור כמה וידג'טים!</h4>
                          <p class="list-group-item-text">התחנה ליד הבית, התחנה ליד הלימודים, התחנה שבה אני בדרך כלל מחליף אוטובוס...</p>
                      </a>
                  </div>
              </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="profile">
          <h4 class="block-title">תמיכה ומשוב</h4>
          <p><a role="button" class="btn btn-default" href="mailto:support@tahanot.com">support@tahanot.com</a></p>
          <h4 class="block-title">שיתוף</h4>
          <p>
            <a role="button" class="btn btn-primary" href="market://details?id=com.tahanot">דרגו את &quot;תחנות&quot;</a>
            <a role="button" class="btn btn-primary" href="https://www.facebook.com/pages/%D7%AA%D7%97%D7%A0%D7%95%D7%AA/577587045619009">דף הפייסבוק</a>
          </p>
          <p>כל משוב או שיתוף יתקבלו בברכה ובשמחה. עזרו לעוד אנשים לגלות את וידג'ט זמני האוטובוסים הראשון לאנדרואיד!</p>
          <h4 class="block-title">אודות</h4>
          <p>יוצר: איליה קוגן.</p>
          <p>אפליקציית &quot;תחנות&quot; מציגה נתוני זמן אמת המגיעים ממשרד התחבורה.</p>
          <p>האפליקציה מנסה להציג תמונה אמינה של המציאות, אך ייתכנו טעויות הנובעות מנתונים חסרים או שגויים שמועברים ע&quot;י מפעילי הקווים או ע&quot;י משרד התחבורה. הנתונים הם בגדר המלצה ואין ליוצר האפליקציה אחריות כלשהי לנכונותם או לנזק שעלול להיגרם מהם.</p>
        </div>
      </div>
    </div>
</body>
</html>