<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=hatahanahabaa;AccountKey=6QTer41kJ13RJXrz/ohDIE1gMf33J58OIHgYDpDdKwMr4JMK2MhUZ5KntYMxo5axh8yySMJ+gj2eMDvUs9EkAg=="/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="configConsoleListener"
          type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
