body {
    height: 100%;
    position: relative;
}

#navbar-main {
    padding: 5px;
}

#map-container {
    height: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

#map-canvas {
    position:relative;
    height: 100%;
    width: 100%;
}

.pagination>li>a, .pagination>li>a:hover, .pagination>li>a:focus {
    background-color: inherit;
    color: black;
}

/*Google address autocomlete*/
.pac-container {
    padding-top: 5px;
}

.nearby-stop-title {
    padding-left: 5px;
    padding-right: 5px;
}

.nearby-stop-title h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.selected-stop {
    border: #337ab7 1px solid;
}

#address {
    font-family: Arial, FontAwesome;
    /* this solves weird alignment of long text on Android */
    direction: ltr
}

.bus-stop-marker.leaflet-marker-icon:active {
    top: 5px;
};