<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>    
    <client>
      <endpoint address="http://81.218.41.96:8081/SiriServerApp/BusStopService?wsdl" binding="basicHttpBinding" contract="BusStopServiceBinding.BusStopPortType" name="MyBinding"/>
    </client>
  </system.serviceModel>
</configuration>
