<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tahanot">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- For Google Analytics -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
	<!--  For OSMDroid -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name="com.tahanot.BusStopApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">

        <!-- exported=true should help the widgets not to disappear from some devices: http://stackoverflow.com/questions/24091148/widget-disappearing-every-time-the-app-is-updated-on-samsung-device -->
        <receiver
            android:name=".WidgetProvider"
            android:label="@string/stopWidgetName1x2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.tahanot.widget.FREQUENT_WIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name="com.tahanot.WidgetProvider1x3"
            android:label="@string/stopWidgetName1x3"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_1x3" />
        </receiver>

        <activity
            android:name=".LandingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- android:launchMode makes sure the Back button doesn't navigate to another Configuration activity. android:taskAffinity makes sure the Back button doesn't navigate to some other activity. -->
        <activity
            android:name=".stopselection.StopSelectionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/stop_selection"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:taskAffinity="com.tahanot.tasks.widgetConfiguration">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
            <!-- Debug -->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".WidgetContextMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <service android:name="com.tahanot.widgetupdate.WidgetUpdateService" >
        </service>

    	<meta-data android:name="com.crashlytics.ApiKey" android:value="6f61b430f390390db14cd2894f836bba4aa865d0"/>
    </application>

</manifest>