<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tahanot"
    android:versionCode="25"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- For Google Analytics -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
	<!--  For OSMDroid -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name="com.tahanot.BusStopApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- In API 17: android:supportsRtl="true" -->
        <receiver
            android:name=".WidgetProvider"
            android:label="@string/stopWidgetName1x2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.tahanot.widget.FREQUENT_WIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name="com.tahanot.WidgetProvider1x3"
            android:label="@string/stopWidgetName1x3" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_1x3" />
        </receiver>
        <activity
            android:name="com.tahanot.activities.Landing"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- android:launchMode makes sure the Back button doesn't navigate to another Configuration activity. android:taskAffinity makes sure the Back button doesn't navigate to some other activity. -->
        <activity
            android:name="com.tahanot.activities.StopSelection"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/stop_selection"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:taskAffinity="com.tahanot.tasks.widgetConfiguration" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
                <!-- Debug -->
                <!-- <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" /> -->
                <!-- End of debug -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tahanot.activities.WidgetContextMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <service android:name="com.tahanot.widgetupdate.WidgetUpdateService" >
        </service>

    	<meta-data android:name="com.crashlytics.ApiKey" android:value="6f61b430f390390db14cd2894f836bba4aa865d0"/>
    </application>

</manifest>